# app
NEXT_PUBLIC_APP_DOMAIN=
NEXT_PUBLIC_APP_NAME=

# clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# database
DATABASE_URL=

# email
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=info@midstateglobalservices.com
APPLICATION_RECIPIENT_EMAIL=aditi@midstateglobalservices.com
